.card-form{
    font-family: sans-serif;
    text-align: center;
    padding: 10px;
    width: 97%;
    color: white;
    background-color: #e01c07;
    border-radius: 10px;
}

.card-form input{
    padding: 10px;
    margin: 10px;
}

.card-form button{
    cursor:pointer;
    padding: 10px;
    width: 100px;
}

ul {
  font-family: sans-serif;
  list-style-type: none;
  margin: 10px;
  padding: 0;
  overflow: hidden;
  background-color: whitesmoke;
}

li {
    margin: 10px;
}

li p{
  float: left;
  color: white;
  background-color: #e01c07;
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a {
  float: right;
  display: block;
  color: #e01c07;
  text-align: center;
  margin: 16px;
  padding: 14px 16px;
  text-decoration: none;
  cursor:pointer;
}

li a:hover {
  background-color: #e01c07;
  color: white;
  transition: 1s;
}
